@{
    Layout = "~/Views/Shared/Authorizated/_Layout.cshtml";
}
<link href="~/css/workspaceIndex.css" rel="stylesheet" />

<div class="main-menu" id="main-menu">
	<div class="container">
		<div class="sidebar">
			<ul class="workspaces">
				<li>
					<button class="workspace-button">Workspace 1</button>
					<ul class="workspace-functions">
						<li><a href="#">Function 1</a></li>
						<li><a href="#">Function 2</a></li>
						<li><a href="#">Function 3</a></li>
					</ul>
				</li>
				<li>
					<button class="workspace-button">Workspace 2</button>
					<ul class="workspace-functions">
						<li><a href="#">Function 1</a></li>
						<li><a href="#">Function 2</a></li>
						<li><a href="#">Function 3</a></li>
					</ul>
				</li>
				<li>
					<button class="workspace-button">Workspace 3</button>
					<ul class="workspace-functions">
						<li><a href="#">Function 1</a></li>
						<li><a href="#">Function 2</a></li>
						<li><a href="#">Function 3</a></li>
					</ul>
				</li>
			</ul>
			<button class="add-workspace">+ Add Workspace</button>
		</div>
		<div class="mainview">
			<div class="boards">
				<h2>Workspace 1</h2>
				<ul>
					<li><a href="#">Board 1</a></li>
					<li><a href="#">Board 2</a></li>
					<li><a href="#">Board 3</a></li>
				</ul>
			</div>
			<div class="boards">
				<h2>Workspace 2</h2>
				<ul>
					<li><a href="#">Board 1</a></li>
					<li><a href="#">Board 2</a></li>
					<li><a href="#">Board 3</a></li>
				</ul>
			</div>
			<div class="boards">
				<h2>Workspace 3</h2>
				<ul>
					<li><a href="#">Board 1</a></li>
					<li><a href="#">Board 2</a></li>
					<li><a href="#">Board 3</a></li>
				</ul>
			</div>
			<button class="add-board">+ Add Board</button>
		</div>
	</div>
	<script src="~/js/workspaceIndex.js"></script>
</div>
