@{
    ViewData["Title"] = "Log In";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Авторизация</title>
	<link href="~/LogIn/LogIn.css" rel="stylesheet" />
	<script src="~/LogIn/LogIn.js"></script>
</head>
<body>
	<div class="login-page">
		<div class="form">
			<form class="login-form">
				<input type="text" placeholder="имя пользователя" />
				<input type="password" placeholder="пароль" />
				<button>войти</button>
				<p class="message">Нет аккаунта? <a href="#">Зарегистрироваться</a></p>
			</form>
		</div>
	</div>
	<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
	<script src="scripts.js"></script>
</body>
</html>
