/* Общие стили */
* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

/* Стили для блока с формой авторизации */
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

        .form button:hover, .form button:active, .form button:focus {
            background: #43A047;
        }

    .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }

        .form .message a {
            color: #4CAF50;
            text-decoration: none;
        }

    .form .register-form {
        display: none;
    }

.login-page {
    background: linear-gradient(to bottom right, #ff9966, #ff5e62);
}

.form-title {
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 20px;
}

.form input::-webkit-input-placeholder {
    color: #b3b3b3;
}

.form input:-moz-placeholder {
    color: #b3b3b3;
}

.form input::-moz-placeholder {
    color: #b3b3b3;
}

.form input:-ms-input-placeholder {
    color: #b3b3b3;
}

.form input:focus, .form button:focus {
    outline: none;
}

.form button {
    background-color: #ffffff;
    color: #ff5e62;
    font-weight: bold;
}

    .form button:hover {
        background-color: #ff5e62;
        color: #ffffff;
    }

.form .message {
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 15px;
}

    .form .message a {
        color: #FFFFFF;
        text-decoration: underline;
    }

        .form .message a:hover {
            color: #ff5e62;
            text-decoration: underline;
        }

@media screen and (max-width: 600px) {
    .login-page {
        width: 100%;
        height: 100vh;
    }

    .form {
        max-width: 100%;
        padding: 30px;
    }

        .form input {
            margin: 0 0 10px;
        }

        .form button {
            margin-top: 20px;
        }
}