<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskManagerUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskManagerUI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <section class="navigation">
            <div class="nav-container">
                <div class="brand">
                    <a asp-controller="Home" asp-action="Index">TaskManagerUI </a>
                </div>
                <nav>
                    <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                    <ul class="nav-list">
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a asp-controller="" asp-action="">About</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Services</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li>
                            <a asp-controller="Authorization" asp-action="Authorization">         Log in</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </header>
    <div class="container">
        <main role="main" class="pb">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="text_footer">
            &copy; 2023 - TaskManagerUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
